<h1>The Best of the Images</h1>
<p>
  <center>
  <table border="1" cellpadding="10"><tr><th>Picture</th><th>Average Rating</th><th>Number of Ratings</th></tr>
<% for i in 0...@best.length %>
  <tr>
    <td><img src="<%= @best[i].pic %>"></td>
    <td><%= @best[i].average_rating %></td>
    <td><%= @best[i].ratings.length %></td>
  </tr>
<% end %>
  <center>
</p>
